# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Projekte\acc-node-wrapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
